@font-face {
    font-family: 'Aileron-Local';
    src: url(../fonts/Aileron-Heavy.otf);
}
@font-face {
    font-family: 'Aileron-Local-SemiB';
    src: url(../fonts/Aileron-SemiBold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'Aileron-Local';
    src: url(../fonts/Aileron-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Bebas-Local';
    src: url(../fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: 'Nobile Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Regular'), url('../fonts/Nobile-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nobile Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Italic'), url('../fonts/Nobile-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nobile Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Medium'), url('../fonts/Nobile-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nobile Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Medium Italic'), url('../fonts/Nobile-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nobile Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Bold'), url('../fonts/Nobile-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Nobile Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Nobile Bold Italic'), url('../fonts/Nobile-BoldItalic.woff') format('woff');
    }
@keyframes slide-in {
    from {
        translate: 100% 0;
        scale: 200% 1;
        opacity: 0;
    }
      
    to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
    }
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background: #b8d1bc;
}
body p{
    font-family: 'Nobile Regular';
    padding: 4px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
}
.hide {
    display:none;
}
picture.background img{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: contain;
    width: 100vw;
    z-index: -1;
}
div.content-wrapper {
    width: 100%;
}
div.top-nav a.nav-link{
    font-size: 16px;
}
div.top-nav {
    display: flex;
    column-gap: 2em;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    padding: 8px;
    /* background: #547e58;  */
    background: rgba(0, 0, 0, 0.574);
    height: 4.5em;
    width:100%;
    position: absolute;
    top:0;
    transition: 2s;
}
div.top-nav:hover{
    background: #2f2f2f;
}
div.nav-image{
    margin-right: 40em; 
    
}

div.nav-image img {
    float: left;
    height: 60px;
    width: auto;
    object-fit: contain;
    margin-top: 2.5em;
}
div.nav-image img.nav-text{
    float: left;
    height: 140px;
    width: auto;
    object-fit: contain;
    margin-top: 0;
}
div.top-nav a{
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    transition: 1s;
    font-family: 'Aileron-Local-SemiB';
    font-weight: bold;
}
div.top-nav a:hover{
    text-decoration: underline;
    color:rgb(220, 220, 220);
}
div.top-nav a.active {
    text-decoration: underline;
    color:rgb(212, 212, 212);
}
div.header {
    margin-top: 4.5em;
    height: fit-content;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    
}
div.cta-button{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
}
div.logo a{
    font-family: 'Aileron-Local-SemiB';
    background: linear-gradient(to left, #ffffff 50%, #547e58 50%) right;
    background-size: 200% 100%;
    /* color: #ffffff; */
    color: #25602a;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 1.5em;
    width: clamp(16rem, 15vw, 40rem);
    transition: 1s ease;
    border: none;
}
div.logo a:hover{
    cursor: pointer;
    background-position: left;
    color: white;
}
div.logo{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    align-content: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.574);
    box-shadow: 0 10px 30px 40px rgba(0, 0, 0, 0.574);
    
}
div.logo p{
    font-size: 1.1em;
    font-family: 'Nobile Medium';
    font-style: italic;
}
div.logo h1.hide{
    display: none;
}
div.logo h1.show{
       font-family: 'Aileron-Local';
       font-size: 2em;
}
div.logo h2{
       font-size: 3em;
       font-family: 'Aileron-Local';
       font-weight: bold;
       font-style: italic;
}
div.hero-image.pirongia{
    background-image: url("../images/Pirongia.webp");
}
div.hero-image.taitua {
    background-image: url("../images/Arb_herow.webp");
}
div.hero-image.pakahakaha {
    background-image: url("../images/thames_hero.webp");
}
div.hero-image.kahikatea {
    background-image: url("../images/kahikatea_hero.webp")
}
div.hero-image{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-image: url("../images/Arb_herow.webp");
    background-size: cover;
}
div.hero-image div.logo{
    margin-top: 4.5em;
    box-shadow: 0px 20px 13px 0px rgba(0, 0, 0, 0.574);
}
div.slideshow-container{
    text-align: center;
    width: 60%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background: #00000054;
    border-radius: 4px;
}
div.flex-container div.slideshow-container a.a-button{
    font-family: 'Aileron-Local-SemiB';
    background: linear-gradient(to left, #ffffff 50%, #547e58 50%) right;
    background-size: 200% 100%;
    /* color: #ffffff; */
    color: #25602a;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 1.5em;
    width: 15em;
    height: 2.5em;
    transition: 1s ease;
    border: none;
}
div.flex-container div.slideshow-container a.a-button:hover{
    cursor: pointer;
    background-position: left;
    color: black;
}
div.slideshow-container p{
    color: rgb(0, 0, 0);
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1em;
    transition: 2s;
    font-weight: bold;
}
div.slideshow-container p.small{
    font-size: 1em;
    font-family: 'Aileron-Local';
}
.mySlides1, .mySlides2 {
    display: none;
}
div.side-by-side {
    display: grid;
    grid-template-columns: 1fr;
}
div.side-by-side picture img {
    border-radius: 2px;
    border: 2px black solid;
    width: 400px;
    align-items: center;
}
.slide-in {
    animation-duration: 3s;
    animation-name: fade;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    background-color: #000000;
    top: 50%;
    width: 2em;
    height: 2em;
    margin-top: 0px;
    padding: 4px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}
.next {
    right: 4px;
    border-radius: 50%;
}
.prev {
    left: 4px;
    border-radius: 50%;
}
.prev:hover, .next:hover {
    background-color: #3f3f3f;
}
div.section{
    width: 100%;
    background: #92b095;
    background-image: url("../images/koru.webp");
    background-position: bottom 0px right 0px;
    background-size:contain;
    background-repeat: no-repeat;
    color: #ffffff;
    height: fit-content;
    padding: 10px;
}

.section-picture-view {
    height: 100vh;
    background: transparent;
}
div.background-wrapper{
    background: #92b095;
    background-image: url("../images/koru.webp");
    background-position: bottom 0px right 0px;
    background-size:contain;
    background-repeat: no-repeat;
    
    height: fit-content;
}
div.section-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.5em;
    column-gap: 3em;
    background: transparent;
    color: #ffffff;
    padding: 30px;
    min-height: 100vh;
}

div.flex-container {
    text-align: center;
    padding: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
div.flex-container.wide{
    width: 100%;
}
div.thumbnail img{
    width: 800px;
    height: 600px;
}
div.flex-container.wide iframe{
    width: 800px;
    height: 600px;
}
div.flex-container iframe{
    width: 400px;
    height: 350px;
}
div.flex-container button{
    font-family: 'Aileron-Local-SemiB';
    background: linear-gradient(to left, #ffffff 50%, #547e58 50%) right;
    background-size: 200% 100%;
    color: #25602a;
    text-decoration: none;
    border-radius: 10px;
    padding: 16px;
    font-size: 1.5em;
    width: 20em;
    height: 2.5em;
    transition: 1s ease;
    border: none;
}
div.flex-container a.a-button{
    font-family: 'Aileron-Local-SemiB';
    background: linear-gradient(to left, #ffffff 50%, #547e58 50%) right;
    background-size: 200% 100%;
    display: inline-block;
    color: #25602a;
    border-radius: 10px;
    width: 100px;
    height: 2.5em;
    font-size: 1em;
    padding: 8px;
    transition: 1s ease;
    text-decoration: none;
}
div.flex-container a.a-button:hover{
    cursor: pointer;
    background-position: left;
    color: black;
}
div.flex-container a.a-button.margin-increase{
    display: inline-block;
    margin-top: 2em;
    width: 200px;
}
div.flex-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 0 8px;
    text-align: center;
    color: black;
    align-items: center;
}
div.i-frame{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    
}
a.link-arrow {
    font-size: 2em;
    font-family: 'Aileron-Local';
    font-weight: bold;
    color: black;
    text-align: center;
    transition: 0.8s;

}
.link-arrow p {
    display: inline-block;
    transition: 0.4s ease-in;
}
a.link-arrow:hover {
    color: #414141;
}
.link-arrow:hover p {
    transform: translateX(50%);
    color: #414141;
}
h2.home-page {
    color: black;
    text-decoration: none;
    font-size: 3em;
    text-decoration: none;
}
div.flex-container p{
    font-family: 'Nobile Regular';
    color: black;
}
div.flex-container ul{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: black;
    list-style-position: inside;
    font-family: 'Nobile Regular';
}
div.flex-container h3, div.flex-container h2 {
    color: black;
    font-weight: bold;
    font-family: 'Aileron-Local';
}
.one{
    width: 40%;
}
div.no-background {
    background-image: none;
    background: #00000039;
    color: rgb(255, 255, 255);
}
div.form-container{
    text-align: center;
    width: 55%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background: #00000054;
    border-radius: 4px;
}
div.flex-container a.para-a, div.flex-container-2 a.para-a{
    color: white;
    transition: 1s;
}
div.flex-container a.para-a:hover, div.flex-container-2 a.para-a:hover{
    color: #414141;
}

div.white-line {
    height: 2px;
    width: 90%;
    margin: auto;
    background: white;
}
div.footer {
    display: grid;
    grid-template-areas:
        "line line line"
        "text text box";
    padding: 2em;
    background: #414141;
    width: 100%;
    text-align: center;
}
#footer-grid > div.white-line {
    grid-area: line;
}
#footer-grid > p{
    grid-area: text;
}
#footer-grid > div.icons {
    grid-area: box;
}

div.footer p {
    margin-bottom: 0;
    color: white;
    font-family: 'Nobile Medium';

}
div.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2em;
    text-align: center;
}
div.search-wrapper label{
    font-family: 'Aileron-Local';
    font-size: 2em;
}
div.search-wrapper input {
    font-size: 1rem;
    width: 50%;
    margin: auto;
    height: 2em;
}
div.form label{
    color: black;
    font-family: 'Nobile Medium';
    margin: 1em;
    text-align: left;
    
}
div.Names{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

}
div.row{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}
div.col-50{
    float: left;
    width: 50%;
    padding: 4px;
}
div.col-50 input[type="text"]{
    padding: 4px;
    font-size: 1.1em;
}
div.col-75{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 4px;
}
div.col-75-v{
    width: 75%;
    overflow: auto;
    padding: 4px;
    justify-self: left;
}
div.col-75.ta{
    height: fit-content;
}
div.col-25{
    width: 25%;
    justify-self: right;
}
div.col-100{
    width: 100%;
    text-align: center;
}
div.col-25 input[type="checkbox"]{
    height: 2em;
    width: 2em;
}
div.col-75 textarea{
    height: 200px;
    width: 100%;
}
div.col-75 input[type="text"]{
    width: 100%;
    padding: 4px;
}
div.row::after, div.row-textarea::after {
        content: "";
        clear: both;
        display: table;
}
div.row-textarea {
    width: 100%;
    text-align: left;
    padding: 4px;
}

div.form input.submit-button{
    font-family: 'Aileron-Local-SemiB';
    background: linear-gradient(to left, #ffffff 50%, #547e58 50%) right;
    background-size: 200% 100%;
    display: inline-block;
    color: #25602a;
    border-radius: 10px;
    width: 100px;
    height: 2.5em;
    font-size: 1em;
    padding: 6px;
    transition: 1s ease;
    text-decoration: none;
}
div.form input.submit-button:hover{
    cursor: pointer;
    background-position: left;
}
.disable_section {
    pointer-events: none;
    opacity: 0.4;
  }
.hide {
    display: none;
}
svg#injected-svg{
    fill: blue;
}
svg#injected-svg:hover{
    fill: black;
}
svg{
    transition: 1s;
}
svg:hover{
    fill: black;
}
